<div class="bx-footer-container">
<!-- <div class="bx-content-wrapper"> -->

<div class="bx-footer">
    <div class="bx-footer__firstpart">
        <div class="bx-footer__firstpart__left">
                <img class="bx-footer__firstpart__left__logo" src="../../../../assets/icons/footer-logo.svg">
                <app-bx-footer-title
                [titleText]="'About Beinex'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Careers'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Press Releases'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Beinex in the News'"
                ></app-bx-footer-title>
             
        </div>
        <div class="bx-footer__firstpart__right">
            
            <app-bx-footer-head
            [subHeading]="'Our Services'"
            ></app-bx-footer-head>
            <div class="bx-footer__firstpart__right__text">
          <div>

                <app-bx-footer-title
                [titleText]="'About Beinex'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Careers'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Press Releases'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Beinex in the News'"
                ></app-bx-footer-title>
             </div>
            <div>
                <app-bx-footer-title
                [titleText]="'About Beinex'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Careers'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Press Releases'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Beinex in the News'"
                ></app-bx-footer-title>
             </div>
        </div>    
        </div>
    
    </div>
    <div class="bx-footer__secondpart">

        <div class="bx-footer__secondpart__left">
                <app-bx-footer-head
                [subHeading]="'Our Partners'"
                ></app-bx-footer-head>
                <app-bx-footer-title
                [titleText]="'About Beinex'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Careers'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Press Releases'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Beinex in the News'"
                ></app-bx-footer-title>
             
        </div>
        <div class="bx-footer__secondpart__right">
            <app-bx-footer-head
            [subHeading]="'Our Industries'"
            ></app-bx-footer-head>
            <div class="bx-footer__secondpart__right__text">
            <div>
                <app-bx-footer-title
                [titleText]="'About Beinex'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Careers'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Press Releases'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Beinex in the News'"
                ></app-bx-footer-title>
             </div>
            <div>
                <app-bx-footer-title
                [titleText]="'About Beinex'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Careers'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Press Releases'"
                ></app-bx-footer-title>
                <app-bx-footer-title
                [titleText]="'Beinex in the News'"
                ></app-bx-footer-title>
             </div>
            </div>

        </div>
    </div>
</div>
<!-- </div> -->
</div>