<div class="bx-offer-card">
    <!-- first card -->
    <div class="bx-offer-card__sec1">
        <app-bx-sub-heading [subHeading]="'Industry'"></app-bx-sub-heading>
        <app-bx-sub-title [titleText]="'Information Technology'"
        [titleSrc]="'../../../../assets/icons/IT.svg'"
        ></app-bx-sub-title>

        <app-bx-sub-title [titleText]="'Human Resources'"
        [titleSrc]="'../../../../assets/icons/HR.svg'"
        ></app-bx-sub-title>

        <app-bx-sub-title [titleText]="'Procurement'"
        [titleSrc]="'../../../../assets/icons/IT.svg'"
        ></app-bx-sub-title>

        <app-bx-sub-title [titleText]="'Finance'"
        [titleSrc]="'../../../../assets/icons/HR.svg'"
        ></app-bx-sub-title>

        <app-bx-sub-title [titleText]="'Bank'"
        [titleSrc]="'../../../../assets/icons/IT.svg'"
        ></app-bx-sub-title>
    </div>

    <!-- middle card -->
    <div class="bx-offer-card__sec2">
        <app-bx-sub-heading [subHeading]="'Offerings'"></app-bx-sub-heading>
        <app-bx-sub-title [titleText]="'Information Technology'"
        [titleSrc]="'../../../../assets/icons/IT.svg'"
        [dynamicStyle]="customStyles"
        ></app-bx-sub-title>

        <app-bx-sub-title [titleText]="'Human Resources'"
        [titleSrc]="'../../../../assets/icons/HR.svg'"
        [dynamicStyle]="customStyles"
        ></app-bx-sub-title>

        <app-bx-sub-title [titleText]="'Procurement'"
        [titleSrc]="'../../../../assets/icons/IT.svg'"
        [dynamicStyle]="customStyles"
        ></app-bx-sub-title>

        <app-bx-sub-title [titleText]="'Finance'"
        [titleSrc]="'../../../../assets/icons/HR.svg'"
        [dynamicStyle]="customStyles"
        ></app-bx-sub-title>

        <app-bx-sub-title [titleText]="'Bank'"
        [titleSrc]="'../../../../assets/icons/IT.svg'"
        [dynamicStyle]="customStyles"
        ></app-bx-sub-title>

    </div>
<!-- last card -->
<div class="bx-offer-card__sec3">
<app-bx-sub-heading [subHeading]="'Description'"></app-bx-sub-heading>
<app-bx-sub-title 
        [titleSrc]="'../../../../assets/icons/IT.svg'"
        [dynamicStyle]="customStyles"
        [dynamicTextStyle]="customStyles"
        [dynamicArrowStyle]="customStyles"
        [titlePara]="'Predictive analytics is often applied here and for prediction of future possible relevant matters for tickets. Data science optimises these processes helping the companies to improve customer satisfaction rates and avoid previous mistakes. '"
        ></app-bx-sub-title>
</div>
</div>