$white : #fff;
$color: #10385B;
$line:#88ADC8;
$bg:rgb(229, 245, 247);
$box:rgb(188, 239, 245);
$card:rgb(81, 78, 240);
$foot: rgb(225, 223, 223);
$black:#111;
$gray:#808080;
$item:#666;
$itemColor:rgb(27, 23, 235);
$border: rgb(190, 187, 187);
$upload:#F3F3F3;
$uploadBorder:#CFCFCF;
$badgeBorder:#2D82E5;
$red:rgb(255, 21, 60);
$country:rgb(228, 224, 224)