<!-- navbar-first start-->
<!-- <div class="container-fluid"> -->
  <div class="bx-content-wrapper">
    <nav class="navbar navbar-container  navbar-expand-lg bg-body-tertiary ">
      
      <div class="container-fluid navbar-container">
            <div class=" bx-navbar-first__sec1">
                <a href="#"><img class="bx-navbar-first__sec1__img" src="/assets/icons/linkedin.svg" alt="linkedin icon"></a>
                <a href="#"><img class="bx-navbar-first__sec1__img" src="/assets/icons/facebook.svg" alt="facebook icon"></a>
                <a href="#"><img class="bx-navbar-first__sec1__img" src="/assets/icons/twitter.svg" alt="twitter icon"></a>
                <img class="bx-navbar-first__sec1__ellipse" src="/assets/icons/Ellipse.svg" alt="ellips">
                <img class="bx-navbar-first__sec1__img" src="/assets/icons/Frame.svg" alt="frame">
    
                <h6 class="bx-navbar-first__sec1__text">English</h6>
            </div>

          <button class="navbar-toggler navbar-dark  " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-labell="Toggle navigation">
            <span class="toggler-icon toggler-icon__first toggler-icon__first__left "></span>
            <span class="toggler-icon toggler-icon__first toggler-icon__first__middle "></span>
            <span class="toggler-icon toggler-icon__first toggler-icon__first__right "></span>
          </button>
          <div class="collapse navbar-collapse navbar-collapse__first" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-ul__first">
              <li class="nav-item nav-item__first">
                <a class="nav-link nav-link__first" aria-current="page" href="#">Tableau Free Trial</a>
              </li>
              <li class="nav-item nav-item__first">
                <a class="nav-link nav-link__first" href="#">Alteryx Free Trial</a>
              </li>
              
              <li class="nav-item nav-item__first">
                <a class="nav-link nav-link__first" href="#">Auraa Free Trial</a>
              </li>
            <li class="nav-item nav-item__first">
                <app-bx-button-schedule
                [iconSrc]="'../../../../assets/icons/call-icon.svg'"
                [btnTitle]="'Schedule a Call'"
                (dynamicClickEvent)="handleDynamicClickEvent()"
                [style]="{'background-color':'#10385B','color':'#fff'}"
                ></app-bx-button-schedule>
                
            </li>
            </ul>
        
           
      </div>
      </div>
      </nav>
    </div>

    <!-- navbar-first end-->
<div class="underline"></div>
<!-- navbar-second start-->
<div class="bx-content-wrapper">
<nav class="navbar  navbar__second navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid navbar-container__second">
      <a class="navbar-brand navbar-brand__second" href="#"><img src="/assets/icons/beinex-logo.svg" alt="Logo"></a>
      <button class="navbar-toggler navbar-toggle__second navbar-light " type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-collapse__second"  id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-ul__second ">
          <li class="nav-item nav-item__second ">
            <a class="nav-link  nav-link__second" href="#">Sercice</a>
          </li>
          <li class="nav-item nav-item__second ">
            <a class="nav-link  nav-link__second" href="#">Partners</a>
          </li>
          <li class="nav-item nav-item__second " >
            <a class="nav-link nav-link__second" href="#">Industries</a>
          </li>
          <li class="nav-item nav-item__second ">
            <a class="nav-link nav-link__second" href="#">Company</a>
          </li>
          <li class="nav-item nav-item__second ">
            <a class="nav-link nav-link__second" href="#">Events</a>
          </li>
          <li class="nav-item nav-item__second ">
            <a class="nav-link nav-link__second" href="#">Careers</a>
          </li>
          <li class="nav-item nav-item__second ">
            <a class="nav-link nav-link__second" href="#">Resources</a>
          </li>
          <li class="nav-item nav-item__second ">
            <a class="nav-link nav-link__second" href="#">Training</a>
          </li>
          <li class="nav-item nav-item__second ">
            <a class="nav-link nav-link__second" href="#">Contact us</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
</div>
<div class="underline"></div>


    <!-- navbar-second end-->    
  