@import "../../../../assets/scss/base/mixins.scss";
@import "../../../../assets/scss/base/colors.scss";

.bx-input-div{
    display: flex;
    border: 1px solid rgb(190, 187, 187);
    width: 100%;
    height: 35px;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;

    &__img{
      
        align-items: center;
        margin-right: 15px;

    }
    &__style{
        border: none;
        width: 100%;
        height: 33px;
        color: $gray;
         //position: relative;
         margin-left: 10px;
    }
}
.dropdown-container select{
   appearance: none;
}
.dropdown-container option{
    height: 100px;
 }
.bx-input-div__style:focus{
   outline: none;
}
.invalid{
    border:1px solid $red
}
@include tablet{
    .bx-input-div{
        display: flex;
        border: 1px solid $border;
        width: calc(100% - 20px);
        margin: 10px;
        justify-content: space-between;
        align-items: center;
    //     height: 35px;
        &__img{
            // width: 27px;
            // width:30%;
            align-items: center;
            margin-right: 15px;
    
        }
        &__style{
            border: none;
            width: 100%;
            height: 25px;
             //position: relative;
             margin-left: 10px;
        }
    }
    .bx-input-div__style:focus{
       outline: none;
    }
}

@include mobile{
    .bx-input-div{
        display: flex;
        border: 1px solid rgb(190, 187, 187);
        width: calc(100% - 20px);
        margin: 10px;
        justify-content: space-between;
        margin-right: 0;
    //     height: 35px;
        &__img{
            align-items: center;
            margin-right: 15px;
        }
        &__style{
            border: none;
            width: 100%;
             height: 25px;
             position: relative;
             margin-left: 10px;
        }
    }
    .bx-input-div__style:focus{
        display: none;
    }
}
