@import "../../../../assets/scss/base/colors.scss";

.bx-footer_heading{
    display: flex;
    width: 200px;
    height: 50px;
    &__h5{
        font-size: 15px;
        color: $white;
        margin-left: 10px;
    }
}